<h3 id="immune-system-and-cancer-at-a-glance">Immune System And Cancer: At a glance</h3>
<ul>
    <li>inflammation is a common symptom of autoimmune diseases, which can result in hypoxia</li>
    <li>hypoxia-inducible factors (HIFs) that manifest during hypoxic conditions promote angiogenesis</li>
    <li>immune system&#39;s proliferative/anti-proliferative effects
        <ul>
            <li>immune system can suppress cancer by:
                <ul>
                    <li>eliminate viruses (thus viral-tumors)</li>
                    <li>stopping the causes of inflammation (e.g. pathogens)</li>
                    <li>targeting tumor cells (via tumor-associated antigens/TAA)</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>