<h2 id="introduction">Introduction</h2>
<p>Autoimmune diseases and cancer are both broad classes of disease with a great deal of diversity between and within them. However, both classes of disease cross in fundamental regulatory pathways and this "cross-talk" can often result in one class of disease leading to the other.</p>
<hr>
<h2 id="immune-system-basics">Immune System Overview</h2> The immune system is the body's defense against pathogens. It comprises two main sub-systems:
<p></p>
<table class="table table-bordered">
    <thead>
        <tr class="active">
            <th>Innate</th>
            <th>Adaptive</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Body's first line of defense against pathogens</td>
            <td>The "specific" targeting arm of immune system</td>
        </tr>
        <tr>
            <td>
                Always on "patrol" for pathogens, profiling in pathogens by broad groups. Includes:
                <ul>
                    <li>macrophages that ingest cells</li>
                    <li>natural killer (NK) cells, a first responder in fighting tumors</li>
                    <li>NK specifically can trigger downstream inflammatory responses via cytokine <strong>TNF-α</strong></li>
                </ul>
            </td>
            <td>
                Has two main classes of cells:
                <ul>
                    <li><strong>T cells</strong>: lymphocytes derived from thymus, some major sub-types including cytotoxic, regulatory, or helpers T cells</li>
                    <li><strong>B cells</strong>: highly diverse cells each with specific <strong>antigen</strong> receptors, releases <strong>antibodies</strong> upon antigen recognition to further amplify immune response against a perceived pathogen</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-lg col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Subset of Immune System Cells <small>(fig 1)</small></h3>
            </div>
            <div class="panel-body">
                <img src="assets/immune-cell-tree.png" alt="immune cell tree" class="img-responsive center-block">
            </div>
        </div>
    </div>

    <div class="col-lg-6">
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">B and T cell interactions <small>(fig 2)</small></h3>
    		</div>
			<div class="panel-body">
				<img src="assets/b-t-cells.jpg" alt="b and t cell interaction" class="img-responsive center-block">
			</div>
    	</div>
    </div>
</div>
<p>Another important component shared between the subsystems are <strong>cytokines</strong>, which are signaling proteins that modify the behavior of other cells; various cytokines are involved  in regulating immune response. The balance of these cytokines activity is vital to keep autoimmune and anti-tumor effects in check.</p>
<div class="row">
    <div class="col-lg-12">
        <p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
						Balance of Immune Effects <small>(fig 3)</small>
					</h3>
                </div>
                <div class="panel-body">
                    <img src="assets/cell-inflammation-balance.png" alt="inflammation effects" class="img-responsive center-block">
                </div>
            </div>
        </p>
    </div>
</div>
<p>In a healthy immune system, the components of the immune system have been "pre-screened" to not attack the regular functional tissues in an individual - the immune system is said to be <em>tolerant of self</em>. However, sometimes this system breaks down and attacks itself, resulting in <strong>autoimmune disease</strong>.</p>
<hr>
<h2 id="commonalties">Commonalties</h2>
<h3>Inflammation and hypoxia</h3>
<p>Inflammation is a hallmark of autoimmune disease as the innate immune system fights against self tissues. Chronic inflammation often results in low oxygen conditions (<strong>hypoxia</strong>). The combined effects of inflammation and hypoxia promote an increase in growth factors, cell proliferation, and hypoxia-compensating angiogenesis. In cancer, abnormally low levels of oxygen are often observed in tumors and correlate with tumor malignancy by promoting angiogenesis.</p>
<p></p>
<h3>Autoantibodies</h3>
<p>Autoantibodies are antibodies that recognize self-tissue and are a common marker in both autoimmune disease and cancer. In some cases, the detection of the autoantibodies can be a reliable marker of an existing, and potentially asymptomatic tumor - often because a resultant autoimmune disease that is detected first.</p>
<hr>
<h2 id="autoimmunity-cancer">Autoimmunity to Cancer</h2>
<p>Inflammation is promoted by various cytokines released by the immune system, with pro-inflammatory cytokines promoting cell growth and proliferation. However, a side-effect is that any cells that sustained DNA damage are also bolstered by the microenvironment provided by chronic inflammation. </p>
<p>One of these pro-inflammatory cytokines is tumor necrosis factor alpha (<strong>TNF-α</strong>), which promotes transcription of immune-regulatory proteins, and is often up-regulated in autoimmune disease. TNF-α released by macrophages during an immune response can stimulate cancer cells, which in turn produce and respond to their own secretion of TNF-α and can upregulate nearby macrophages. This continuous loop amplifies the effects of downstream growth signals, further promoting tumor angiogenesis and development.</p>
<div class="row">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <p>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Potential Treatment with siRNA <small>(fig 4)</small></h3>
                    </div>
                    <div class="panel-body">
                        <p>Treatment with silencing RNA (<strong>siRNA</strong>) against TNF-α to reduce its inflammatory effects has also shown promise in reducing tumor growth in comorbid cancer.</p>
                        <img src="assets/tnf-sirna1.png" alt="siRNA inhibition of TNF-α" class="img-responsive center-block">
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
<hr>
<h2 id="cancer-autoimmunity">Cancer to Autoimmunity</h2>
<p>Sometimes in the course of the immune system's response to tumor (i.e.<strong>neoplasm</strong>) cells, the immune response can go too far. Autoimmune diseases that manifest as a result of cancer are termed <strong>paraneoplastic syndromes</strong>.</p>
<p><strong>POMA</strong> (paraneoplastic opsoclonus-myoclonus ataxia) is an example of a rare paraneoplastic neurological disorder that stems from some breast, ovarian, or lung cancers. In the course of generating antibodies against the cancer cells, the immune system ends up targeting a protein antigen responsible for splicing of a dopamine receptor pre-mRNA transcript. The result of this attack against neural cells leads to ataxia, or loss of controlled movements, often to devastating effects.</p>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
					NOVA-1 inhibition via autoantibody <small>(fig 5)</small>
				</h3>
            </div>
            <div class="panel-body">
                <img src="assets/nova-splice.png" alt="nova antibody reaction" class="img-responsive center-block">
            </div>
        </div>
    </div>
</div>

<h4>Mitigation of Resultant Autoimmune Disease</h4>
<p>
 	In the cases of autoimmune disease resulting from cancer, treating the underlying cancer correlates with reduced autoimmune symptoms.
 </p>

<hr>
<h2 id="imbalance">An Acceptable Imbalance</h2>
<p>It's doubtful that developing cancer is ever a desired outcome - except maybe in an experimental settings. And it's difficult to imagine a case where developing an autoimmune disease is desired either, but what if it was a necessary sacrifice for effective treatment of cancer?</p>

<p>In the last couple decades, great headway has been made in immunotherapy to redirect the immune system against cancer cells. The treatment of melanoma is particularly remarkable - development of autoimmune vitiligo (depigmentation of skin) in course of treating melanoma correlates with a better prognosis.</p>

<p><em>Ipilimumab</em> is a treatment that inhibits the inhibitors of cytotoxic T (CD8) cells, restoring T cell's cytotoxicity and destruction of melanocytes. Since the immune response is casting a wide net, melanocytes are killed indiscriminately, reducing the skin's pigment.</p>
<p>Coming from another angle, vaccination to recognize a targeted "self" antigen can induce both vitiligo <em>and</em> tumor cell death. As mentioned previously, immune system cells are pre-screened to prevent auto-immune reactions, but for self antigens highly expressed in tumor, breaking that immunity can be useful. Using a recombinant vaccinia virus encoding a self antigen has shown effectiveness in recruitment of T cells and destruction of melanoma tumor cells.</p>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
					Recombinant vaccinia virus <small>(fig 6)</small>
				</h3>
            </div>
            <div class="panel-body">
                <img src="assets/rvv-example.jpg" alt="recombinant vaccinia virus" class="img-responsive center-block" width="450">
            </div>
        </div>
    </div>
</div>
<hr>
<h2 id="further-readings">Further Readings</h2>
<p>
    This review only <em>just scratches</em> the surface of the relationship between autoimmune diseases, the immune system, and cancers.

    <p>Many <a href="https://www-ncbi-nlm-nih-gov.ezp.welch.jhmi.edu/pubmed/23228387">urologic cancers have been associated with GI-tract autoimmune diseases</a>, such as Celiac disease or Crohn's. Beyond that, the method by which some tumors <a href="http://science.sciencemag.org.ezp.welch.jhmi.edu/content/331/6024/1565.full">escape immune surveillance via immuno-editing</a> and how the immune system can be <a href="https://www.cancer.gov/about-cancer/treatment/research/car-t-cells">made "re-aware" via genetic engineering of chimeric antigen receptors</a> are both deep topics of future research.

    <p>The regulatory pathway that controls all the moving parts of the immune system and the development of cancer are vast, complicated, and messy. However, this means that there are many opportunities to research and gain insights, to discover new key proteins, and thus develop novel potential treatments for both classes of disease. Immunotherapy is of particular interest lately and it will be exciting to see what new discoveries come from antibody and engineered therapies against cancer.</p>
    </p>
</p>