<nav class="sidebar hidden-sm hidden-xs affix">
	<div class="page-header"><h4>Navigation</h4></div>
	<div id="right-nav">
		<ul class="nav sidenav">
		    <li><a href="#introduction">Introduction</a></li>
		    <li><a href="#immune-system-basics">Immune System Overview</a></li>
		    <li><a href="#commonalties">Commonalities</a></li>
		    <li><a href="#autoimmunity-cancer">Cancer to Autoimmunity</a></li>
		    <li><a href="#cancer-autoimmunity">Autoimmunity to Cancer</a></li>
		    <li><a href="#imbalance">An Acceptable Imbalance</a></li>
		    <li><a href="#further-readings">Further Readings</a></li>
		    <li><a href="#top" id="back-to-top">Back to top</a></li>
		</ul>
	</div>
</nav>