<h3 id="primary-references">Primary References</h3>
<ol>
    <li>
        <p>Franks, A. L., &amp; Slansky, J. E. (2012). Multiple Associations Between a Broad Spectrum of Autoimmune Diseases, Chronic Inflammatory Diseases and Cancer. Anticancer Research, 32(4), 1119–1136.</p>
    </li>
    <li>
        <p>Hong, H., Jiang, L., Lin, Y., He, C., Zhu, G., Du, Q., … Chen, Y. (2016). TNF-alpha promotes lymphangiogenesis and lymphatic metastasis of gallbladder cancer through the ERK1/2/AP-1/VEGF-D pathway. BMC Cancer, 16, 240. <a href="http://doi.org.ezp.welch.jhmi.edu/10.1186/s12885-016-2259-4">http://doi.org.ezp.welch.jhmi.edu/10.1186/s12885-016-2259-4</a></p>
    </li>
    <li>
        <p>Overwijk, W. W., Lee, D. S., Surman, D. R., Irvine, K. R., Touloukian, C. E., Chan, C.-C., … Restifo, N. P. (1999). Vaccination with a recombinant vaccinia virus encoding a “self” antigen induces autoimmune vitiligo and tumor cell destruction in mice: Requirement for CD4+ T lymphocytes. Proceedings of the National Academy of Sciences of the United States of America, 96(6), 2982–2987.</p>
    </li>
    <li>
        <p>Overwijk, W. W., Tsung, A., Irvine, K. R., Parkhurst, M. R., Goletz, T. J., Tsung, K., … Restifo, N. P. (1998). gp100/pmel 17 Is a Murine Tumor Rejection Antigen: Induction of “Self”-reactive, Tumoricidal T Cells Using High-affinity, Altered Peptide Ligand . The Journal of Experimental Medicine, 188(2), 277–286.</p>
    </li>
    <li>
        <p>Park, E., Iaccarino, C., Lee, J., Kwon, I., Baik, S. M., Kim, M., … Kim, K. (2011). Regulatory Roles of Heterogeneous Nuclear Ribonucleoprotein M and Nova-1 Protein in Alternative Splicing of Dopamine D2 Receptor Pre-mRNA. The Journal of Biological Chemistry, 286(28), 25301–25308. <a href="http://doi.org.ezp.welch.jhmi.edu/10.1074/jbc.M110.206540">http://doi.org.ezp.welch.jhmi.edu/10.1074/jbc.M110.206540</a></p>
    </li>
    <li>
        <p>Rob A. Cairns, Tuula Kalliomaki &amp; Richard P. Hill (2001). Acute (Cyclic) Hypoxia Enhances Spontaneous Metastasis of KHT Murine Tumors. Cancer Res, 61 (24), 8903-8908</p>
    </li>
    <li>
        <p>Yang, Y. Y. L., Yin, G. L., &amp; Darnell, R. B. (1998). The neuronal RNA-binding protein Nova-2 is implicated as the autoantigen targeted in POMA patients with dementia. Proceedings of the National Academy of Sciences of the United States of America, 95(22), 13254–13259.</p>
    </li>
    <li>
        <p>Yuan, J., Page, D. B., Ku, G. Y., Li, Y., Mu, Z., Ariyan, C., … Wolchok, J. D. (2010). Correlation of clinical and immunological data in a metastatic melanoma patient with heterogeneous tumor responses to ipilimumab therapy. Cancer Immunity : A Journal of the Academy of Cancer Immunology, 10, 1.</p>
    </li>
    <li>
        <p>Zhu, G., Du, Q., Wang, X., Tang, N., She, F., &amp; Chen, Y. (2014). TNF-α promotes gallbladder cancer cell growth and invasion through autocrine mechanisms. International Journal of Molecular Medicine, 33(6), 1431–1440. <a href="http://doi.org.ezp.welch.jhmi.edu/10.3892/ijmm.2014.1711">http://doi.org.ezp.welch.jhmi.edu/10.3892/ijmm.2014.1711</a></p>
    </li>
    <li>
        <p>Zins K., Abraham D., Sioud M., Aharinejad S. (2007) Colon Cancer Cell–Derived Tumor Necrosis Factor-α Mediates the Tumor Growth–Promoting Response in Macrophages by Up-regulating the Colony-Stimulating Factor-1 Pathway. Cancer Research, 67(3) DOI: 10.1158/0008-5472.CAN-06-2295</p>
    </li>
</ol>
<h3 id="other-references">Other References</h3>
<ol>
    <li>
        <p>Coussens, L. M., &amp; Werb, Z. (2002). Inflammation and cancer. Nature, 420(6917), 860–867. <a href="http://doi.org.ezp.welch.jhmi.edu/10.1038/nature01322">http://doi.org.ezp.welch.jhmi.edu/10.1038/nature01322</a></p>
    </li>
    <li>
        <p>Janeway CA Jr, Travers P, Walport M, et al. (2001). The components of the immune system.  Immunobiology: The Immune System in Health and Disease. 5th edition. New York: Garland Science.<a href="https://www.ncbi.nlm.nih.gov/books/NBK27092/">https://www.ncbi.nlm.nih.gov/books/NBK27092/</a></p>
    </li>
    <li>
        <p>Rahat, M. A., &amp; Shakya, J. (2016). Parallel Aspects of the Microenvironment in Cancer and Autoimmune Disease. Mediators of Inflammation, 2016, 4375120. <a href="http://doi.org.ezp.welch.jhmi.edu/10.1155/2016/4375120">http://doi.org.ezp.welch.jhmi.edu/10.1155/2016/4375120</a></p>
    </li>
</ol>

<h3 id="image-refs">Figure References</h3>

<ol>
    <li>
        <strong>Image adapted from:</strong> Janeway CA Jr, Travers P, Walport M, et al. (2001). <em>All the cellular elements of blood, including the lymphocytes of the adaptive immune system, arise from hematopoietic stem cells in the bone marrow</em> [Infographic] Retrieved from <a href="https://www.ncbi.nlm.nih.gov/books/NBK27092/">https://www.ncbi.nlm.nih.gov/books/NBK27092/</a>
    </li>
    <p></p>

    <li>
        OpenStax College, Anatomy and Physiology. OpenStax CNX.<em>T and B Cell Binding</em> [Image]. Retrieved from <a href="http://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@8.108">http://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@8.108</a>
    </li>

    <p></p>
    <li>
        <strong>Image adapted from:</strong> Coussens, L. M., &amp; Werb, Z. (2002). <em>Inflammation and cancer - Figure 2</em> [Image]. Retrieved from <a href="http://doi.org.ezp.welch.jhmi.edu/10.1038/nature01322">http://doi.org.ezp.welch.jhmi.edu/10.1038/nature01322</a>
    </li>
    <p></p>
    <li>
        <strong>Image adapted from:</strong> Zins K., Abraham D., Sioud M., Aharinejad S. (2007) <em>Figure 2</em> [Image]. Retrieved from <a href="http://cancerres.aacrjournals.org/content/67/3/1038.short">http://cancerres.aacrjournals.org/content/67/3/1038.short</a>
        
    </li>
    <p></p>
    <li>
        Custom image created for presentation
    </li>
    <p></p>

    <li>
        Moss, B. (2013). <em>Reflections on the Early Development of Poxvirus Vectors - Figure 1.</em> Retrieved from: <a href="http://doi.org/10.1016/j.vaccine.2013.03.042">http://doi.org/10.1016/j.vaccine.2013.03.042</a>
    </li>
</ol>

<p>
    <em>Image creation/adaptation was done using <a href="https://inkscape.org/en/">Inkscape</a> vector graphics editor.</em>
</p>
