<nav class="sidebar hidden-sm hidden-xs affix">
	<div class="page-header"><h4>Navigation</h4></div>
	<ul class="nav sidenav">
	    <li><a href="#introduction">Introduction</a></li>
	    <li><a href="#immune-system-basics">Immune System Overview</a></li>
	    <ul>
	    	<li><a href="#commonalties">Commonalities</a></li>
	    	<li><a href="#inflammation-hypoxia">Inflammation and Hypoxia</a></li>
	    	<li><a href="#autoantibodies">Autoantibodies</a></li>
	    </ul>
	    <li><a href="#cancer-autoimmunity">Autoimmunity to Cancer</a></li>
	    <li><a href="#autoimmunity-cancer">Cancer to Autoimmunity</a></li>
	    <li><a href="#imbalance">An Accept Imbalance</a></li>
	    <li><a href="#top" class="back-to-top">Back to top</a></li>
	</ul>
</nav>